body { color: #2b032d; background-image: url('background.png'); background-size: cover; background-repeat: no-repeat; display: flex; width: 98%; height: 97%; flex-direction: column; justify-content: center; margin: 0; text-align: justify;}
a:link{color:#2b032d; text-decoration:none; font-weight:600;}
a:visited{color:#2b032d; text-decoration:none; font-weight:0;}
a:hover{text-shadow: 0 0 .25px #2b032d, 0 0 .25px #2b032d; }
a:active{color:#2b032d; text-decoration:none; font-weight:650;} 




.settingsbar { order: 1; width: 100%; text-align: right; }
.settingsbar a { margin-right: 5px; }
.settingsbar a:link{color:#fffad0; text-decoration:none; font-weight:600;}
.settingsbar a:visited{color:#fffad0; text-decoration:none; font-weight:600;}
.settingsbar a:hover{text-shadow: 0 0 .25px #fffad0, 0 0 .25px #fffad0; }
.settingsbar a:active{color:#fffad0; text-decoration:none; font-weight:650;}
.bodypage { order: 2; height: 95%; width: 100%; display: flex; flex-direction: row; justify-content: center; }
.bodypage>.leftmenu { order: 1; width: 15%; display: flex; flex-direction: column; }
.bodypage>.leftmenu>.logo {order: 1; margin-top: 3%; height: 10%; background-image: url('logo.png'); background-size: contain; background-repeat: no-repeat; padding-bottom: 1%; background-position: center center;}
.bodypage>.leftmenu>.navigation {order: 2; height: 60%; width: 100%; background-image: url('box.png'); background-size: cover;}
.bodypage>.leftmenu>.navigation a { margin-left: 5px; display: block; }

.bodypage>.page { order: 2; width: 75%; margin-left: 2%; display: flex; flex-direction: column; }
.bodypage>.page>.subpage {order: 1; margin-top: 3%; height: 92%; width: 100%; background-image: url('box.png'); background-size: cover; display: flex; flex-direction: row-reverse; overflow: auto;}
.bodypage>.page>.subpage>.rightmenu { order: 1; height: 100%; width: 23%; }
.bodypage>.page>.subpage>.rightmenu>.fixed { position: fixed;  width: 16.5%; height: 84%; }
.bodypage>.page>.subpage>.rightmenu>.fixed>.login { margin-top: 30px; width: 100%; padding: 5px;}
.bodypage>.page>.subpage>.rightmenu>.fixed>.login span { margin-left: 3px; width: 35%; display: inline-block; }
.bodypage>.page>.subpage>.rightmenu>.fixed>.login input { width: 55%;}
.bodypage>.page>.subpage>.rightmenu>.fixed>.login a { margin: 0 auto; width: 90%; display: block; }

.bodypage>.page>.subpage>.rightmenu>.fixed>.online { width: 100%; height: 100%; display: flex; flex-direction: column; }
.bodypage>.page>.subpage>.rightmenu>.fixed>.online>.profilepicture { order: 1; width: 100%; height: 20%; padding: 5px;}
.bodypage>.page>.subpage>.rightmenu>.fixed>.online>.profilepicture img { height: 100%; display: block; margin: 0 auto; }

.bodypage>.page>.subpage>.rightmenu>.fixed>.online>.toolbox { order: 2; width: 100%; height: 80%; }
.bodypage>.page>.subpage>.rightmenu>.fixed>.online>.toolbox a { margin-left: 5px; display:block;}

.bodypage>.page>.subpage>.borderline { order: 2; height: 100%; width: 0.5%; }
.bodypage>.page>.subpage>.borderline>.fixed { position: fixed; width: 0.28%; height: 70%; background-image: url('background.png'); background-size: cover;}

.bodypage>.page>.subpage>.content { order: 3; height: 95%; width: 74%; padding: 10px; }
.bodypage>.page>.subpage>.content>.block { background-image: url('background_post.png'); background-size: cover; padding: 5px;}
.bodypage>.page>.subpage>.content>.block>.feed>.header { background-image: url('box.png'); background-size: cover; margin-bottom: 2px; display: flex; justify-content: space-between;}
.bodypage>.page>.subpage>.content>.block>.feed>.header>.title { order:1;}
.bodypage>.page>.subpage>.content>.block>.feed>.header>.time { order:2; }
.bodypage>.page>.subpage>.content>.block>.feed>.content { background-image: url('box.png'); background-size: cover; margin-bottom: 2px; display: flex; flex-direction: column; }
.bodypage>.page>.subpage>.content>.block>.feed>.content>.picture { order: 1; height: 50px; margin-bottom: 5px;}
.bodypage>.page>.subpage>.content>.block>.feed>.content>.picture img { height: 100%; margin-left: 2px; margin-top: 2px;}
.bodypage>.page>.subpage>.content>.block>.feed>.content>.post { order: 2; display: flex; justify-content: space-between; }
.bodypage>.page>.subpage>.content>.block>.feed>.content>.post>.text { order: 1; margin-right: 5px;}
.bodypage>.page>.subpage>.content>.block>.feed>.content>.post>.schedule { order: 2;}
.bodypage>.page>.subpage>.content>.block>.feed>.content>.post>.schedule tr { background-image: url('background_tr.png'); background-size: cover;}
.bodypage>.page>.subpage>.content>.block>.feed>.links { width: 100%; background-image: url('box.png'); background-size: cover; display: flex; justify-content: space-between; }
.bodypage>.page>.subpage>.content>.block>.feed>.links>.owner { order: 1;}
.bodypage>.page>.subpage>.content>.block>.feed>.links>.owner a { margin-left: 7px;}
.bodypage>.page>.subpage>.content>.block>.feed>.links>.left { order: 1;}
.bodypage>.page>.subpage>.content>.block>.feed>.links>.left a { margin-left: 7px;}
.bodypage>.page>.subpage>.content>.block>.feed>.links>.right { order: 2;}
.bodypage>.page>.subpage>.content>.block>.feed>.links>.right a { margin-left: 7px;}


.bodypage>.page>.subpage>.content>.block>.innerblock { background-image: url('box.png'); background-size: cover; padding: 5px; }
.bodypage>.page>.subpage>.content>.block>.innerblock form label { width: 40%; display: inline-block; }
.bodypage>.page>.subpage>.content>.block>.innerblock form input { width: 20%; }
.bodypage>.page>.subpage>.content>.block>.innerblock form span input { width: 30%; min-width: 150px; margin: 0 auto; display: block; margin-top: 10px;}
.bodypage>.page>.subpage>.content>.block>.innerblock form div input { width: 80%; margin: 0 auto; }
.bodypage>.page>.subpage>.content>.block>.innerblock form p input { width: 90%; margin-left: 30px; display: inline-block; }
.bodypage>.page>.subpage>.content>.block>.innerblock form select { width: 20%; }
.bodypage>.page>.subpage>.content>.block>.innerblock form textarea { display: block; height: 200px; width: 100%; }
.bodypage>.page>.subpage>.content>.block>.innerblock form h { margin: 0 auto; display: block; width: 80%; }
.bodypage>.page>.subpage>.content>.block>.innerblock form h select { margin: 0 auto; display: inline-block; width: 30%; }

.bodypage>.page>.subpage>.content>.block>.innerblock>.profile { display: flex; flex-direction: column; }
.bodypage>.page>.subpage>.content>.block>.innerblock>.profile>.information { order: 1; display: flex; }
.bodypage>.page>.subpage>.content>.block>.innerblock>.profile>.information>.data { order: 1; width: 70%; }
.bodypage>.page>.subpage>.content>.block>.innerblock>.profile>.information>.data h { display: block; margin-bottom: 5px; width: 70%; border-bottom: 1px solid #2b032d;}
.bodypage>.page>.subpage>.content>.block>.innerblock>.profile>.information>.data h b { width: 60%; display: inline-block;}
.bodypage>.page>.subpage>.content>.block>.innerblock>.profile>.information>.data a { display: block; width: 100%; }
.bodypage>.page>.subpage>.content>.block>.innerblock>.profile>.information>.picture { order: 2; width: 30%;}
.bodypage>.page>.subpage>.content>.block>.innerblock>.profile>.information>.picture img { order: 2;  width: 100%;}
.bodypage>.page>.subpage>.content>.block>.innerblock>.profile>.description { order: 2; }


.bodypage>.page>.subpage>.content>.block>.innerblock>.message h { display: block; border-bottom: 1px solid #2b032d;}
.bodypage>.page>.subpage>.content>.block>.innerblock>.message h span { display: inline-block; width: 20%; }


.bodypage>.page>.subpage>.content>.block>.innerblock>.notifications  h { display: block; border-bottom: 1px solid #2b032d; margin-bottom: 8px;}
.bodypage>.page>.subpage>.content>.block>.innerblock>.notifications  h p { display: inline-block; width: 20%; }


.bodypage>.page>.subpage>.content>.block>.innerblock>.list>.onecolumn a { display: block; border-bottom: 1px solid #2b032d; min-width: 150px;}




.bodypage>.page>.subpage>.content>.list>.twocolumns>.sectionblock { background-image: url('background_post.png'); background-size: cover; padding: 5px; margin-bottom: 10px;}
.bodypage>.page>.subpage>.content>.list>.twocolumns>.sectionblock>.innersectionblock { background-image: url('box.png'); background-size: cover; padding: 5px; }
.bodypage>.page>.subpage>.content>.list>.twocolumns>.sectionblock>.innersectionblock b { display: block; }
.bodypage>.page>.subpage>.content>.list>.twocolumns>.sectionblock>.innersectionblock h { display: block; border-top: 1px solid #2b032d;}
.bodypage>.page>.subpage>.content>.list>.twocolumns>.sectionblock>.innersectionblock span { display: inline-block; width: 20%; min-width: 150px; }


.bodypage>.page>.subpage>.content>.block>.innerblock>.schedule form h { margin: 0 auto; width: 90%;}
.bodypage>.page>.subpage>.content>.block>.innerblock>.schedule form h select { display: inline-block; width: 20%; }
.bodypage>.page>.subpage>.content>.block>.innerblock>.schedule form p input { display: inline-block; width: 90%; margin-left: 30px;}
.bodypage>.page>.subpage>.content>.block>.innerblock>.schedule form h span { display: inline-block; width: 20%; }
.bodypage>.page>.subpage>.content>.block>.innerblock>.schedule form h textarea { display: block; width: 100%; height: 200px; }


.bodypage>.page>.subpage>.content>.block>.innerblock>.goal h { width: 70%; display: block; border-bottom: 1px solid #2b032d;}
.bodypage>.page>.subpage>.content>.block>.innerblock>.goal h b { display: inline-block; width: 30%; }
.bodypage>.page>.subpage>.content>.block>.innerblock>.goal h img { display: inline-block; height: 50px; }
.bodypage>.page>.subpage>.content>.block>.innerblock>.goal h a { margin-right: 10px; }


.bodypage>.page>.subpage>.content>.block>.innerblock>.inbox h { display: block; border-bottom: 1px solid #2b032d;}
.bodypage>.page>.subpage>.content>.block>.innerblock>.inbox h span { display: inline-block; width: 30%; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }


.notebar { order: 3; margin-left: 10px;}
